<html>

<head>
  <style>
    body {
      font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
      font-size: 14px;
    }

    .event-date {
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .time {
      float: left;
    }

    .time-group {
      margin-left: 80px;
    }

    .event-name {
      margin-bottom: 0;
    }

    .meetup {
      color: #707070;
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div>
    <br />
    To maintain meetup groups and preview next weeks meetups, please check <a
      href="https://meetup-tw-sydney.herokuapp.com">this website</a>
  </div>
  <% groupedEvents.forEach(function(day) { %>
  <% var eventsByDate = day.eventsByDate %>
  <h1 class="event-date"><%= day.date %></h1>
  <% if(eventsByDate.length === 0) { %>
  <div>(none)</div>
  <% } else { %>
  <% eventsByDate.forEach(function(events) { %>
  <div class="time"><%= events.time %></div>
  <div class="time-group">
    <% events.eventsByTime.forEach(function(event) { %>
    <div class="meetup">
      <div class="event-name"><a href="<%= event.link %>"><%= event.eventName %></a></div>
      <div><%= event.groupName %></div>
    </div>
    <% }); %>
  </div>
  <% }); %>
  <% } %>
  <% }); %>
  <br />
    <div>
      <div>Met someone that you think will be a great ThoughtWorker?</div>
      <br />
      <div>If you are at a Meetup and see a potential ThoughtWorker in the “virtual crowd”, please let them know that we're on the lookout for the roles listed on our <a href="https://www.thoughtworks.com/careers/jobs">website</a></div>
      <br />
      <div>Whilst we aren’t actively recruiting, we would love to engage with them about a conversation for a role in the future.</div>
      <br />
      <div>If they are successful,you will be eligible for the referral bonus through our referral policy :) Please reach out to our recruitment team if you have any questions!</div>
    </div>
    <div>
      <br />
        Enjoy your week :)
      <br />
        Issy
    </div>
</body>

</html>
