<html>

<head>
  <style>
    body {
      font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
      font-size: 14px;
    }

    .event-date {
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .time {
      float: left;
    }

    .time-group {
      margin-left: 80px;
    }

    .event-name {
      margin-bottom: 0;
    }

    .meetup {
      color: #707070;
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div>
    <br />
    To maintain meetup groups and preview next weeks meetups, please check <a
      href="https://meetup-tw-sydney.herokuapp.com">this website</a>
  </div>
  <% groupedEvents.forEach(function(day) { %>
  <% var eventsByDate = day.eventsByDate %>
  <h1 class="event-date"><%= day.date %></h1>
  <% if(eventsByDate.length === 0) { %>
  <div>(none)</div>
  <% } else { %>
  <% eventsByDate.forEach(function(events) { %>
  <div class="time"><%= events.time %></div>
  <div class="time-group">
    <% events.eventsByTime.forEach(function(event) { %>
    <div class="meetup">
      <div class="event-name"><a href="<%= event.link %>"><%= event.eventName %></a></div>
      <div><%= event.groupName %></div>
    </div>
    <% }); %>
  </div>
  <% }); %>
  <% } %>
  <% }); %>
  <br />
    <div>
      <div>We've also got a little message from our lovely Recruitment Team:</div>
      <h1 class="event-date">Met someone that you think will be a great ThoughtWorker?</h1>
      <br />
      <div>If you are at a Meetup and see a potential ThoughtWorker in the crowd, please let them know that we're hiring and that we are an AWESOME company to work for!!! If you are brave enough, get their contact details and submit their details through greenhouse as a referral.</div>
      <br />
      <div>If they are successful, in addition to our referral bonus through our referral policy, a mystery prize (ooh lala) awaits if you make note that you met this candidate through a Meetup. Please reach out to our recruitment team if you have any questions :)</div>
      <br />
      <div>The roles we are currently recruiting for can be found on our careers website - <a href="https://www.thoughtworks.com/careers/jobs">https://www.thoughtworks.com/careers/jobs</a></div>
    </div>
    <div>
      <br />
        Enjoy your week :)
      <br />
        Issy
    </div>
</body>

</html>
